/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");


/*	EXAMPLE STYLES */


body {
	font-family: sans-serif;
	background: white;
	color : #23C10B;
}

a {
  background-color: transparent;
  color: #FFFFFF;
}
a:active,
a:hover {
  outline: 0;
  color: #008000;

}

h2{font-size: 35px; font-style: bold; color: #FFFFFF; font-family: 'Papyrus'; text-align: right;}
h3{font-size: 25px; font-style: bold; color: #eee ; font-family: 'Courier New'; text-align: right;}

p{margin-bottom: 40px; font-size: 16px; color : #23C10B; text-align: center; font-family:'Rockwell'; line-height: 1.5em;}

header {
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	background: transparent;
	
}

article {
	position: fixed;
	text-align: right;
	padding-top: 20%;
	padding-bottom: 30%;
	background-color: #23C10B;
	background-image: linear-gradient(45deg, #30D816 25%, transparent 25%, transparent 75%, #30D816 75%, #30D816), 
	linear-gradient(45deg, #30D816 25%, transparent 25%, transparent 75%, #30D816 75%, #30D816 );
	background-size:200px 200px;
	background-position:0 0, 100px 100px
}

aside {
	margin-top: 4%; 
	text-align: center;
	background-color: #fff; 
	
}

footer {
	line-height: 15em;
	text-align: center;
	background: #BBB;
	
}





 